<h1>Add a new Route</h1>

<%= form_for @climb do |f| %>
    <label><Strong>Name: </Strong></label>
    <%= f.text_field :name %> <br>

    <label><strong>Grade:</strong></label>
    <%= f.select :grade, @grades %> <br>

    <label><strong>Type:</strong></label>
    <%= f.select :climb_style, @climb_style %> <br>

    
    
    <%= f.submit %>


<% end %>