<h1><%= @climb.name %></h1>

<h3><%= @climb.grade %></h3>
<h3><%= @climb.climb_style %></h3>
<% if current_user %>
  <%= link_to 'I completed this Climb!!', new_climb_send_path(@climb) %>
<% end %>

<% if current_user.admin %>
  <%= link_to 'Edit Route', edit_climb_path(@climb) %>
<% end %>