<h1>Welcome to <%= @user.display_name %>'s page</h1>
<p><%= @user.bio %></p>
<% if @user == current_user %>
    <%= link_to 'New Post', new_user_post_path(current_user) %>
    <br>
    <% if @user.name.empty? || @user.bio.empty? %>
        <p>Your profile is incomplete, please edit your profile to fill in the missing fields</p>
    <% end %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>
<br>
<%= link_to "#{@user.display_name}'s posts", user_posts_path(@user) %>
