<h1>Let's log a new hangboard workout</h1>

<%= form_for @hangboard do |f| %>
    <label><strong>Weight: </strong></label>
    <%= f.number_field(:weight, min: 1) %> <br>

    <label><strong>Date: </strong></label>
    <%= f.date_field :date %> <br>

    <%= f.hidden_field :user_id %>
    
    <%= f.fields_for :exercises, @hangboard.exercises.build do |ex| %>
        <%= ex.label :hold %>
        <%= ex.select :hold, @holds %>
        <br>
        <%= ex.label :reps %>
        <%= ex.number_field(:reps, min: 1) %>
        <br>
        <%= ex.label :difficulty %>
        <%= ex.number_field(:difficulty, min: 1) %>
        <br>
    <% end %>

    <%= f.submit %>

<% end %>