<h1><%= @send.user.display_name %> completed<%= @send.climb.name %></h1>
<h3><%= @send.attempts_display %></h3>
<p><%= @send.description %></p>
<%= link_to "#{@send.user.display_name}'s other sends", user_sends_path(@send.user) %>
<% if @send.user == current_user %>
  <p>You can modify or delete this send</p>
<% end %>

<p>We will be able to add comments here too</p>