<h1><%= @send.user.display_name %> completed <%= @send.climb.name %></h1>
<h3><%= @send.attempts_display %></h3>
<p><%= @send.description %></p>
<%= link_to "#{@send.user.display_name}'s other sends", user_sends_path(@send.user) %> <br>
<% if @send.user == current_user %>
  <%= link_to 'Edit this Send', edit_send_path(@send) %> <br>
  <%= link_to 'Delete this Send', @send, method: :delete %>
<% end %>

