<h1>Edit this exercise</h1>

<%= form_for @exercise do |f| %>
    <%= f.label :hold %>
    <%= f.select :hold, @holds %>
    <br>
    <%= f.label :reps %>
    <%= f.number_field(:reps, min: 1) %>
    <br>
    <%= f.label :difficulty %>
    <%= f.number_field(:difficulty, min: 1, max: 10) %>
    <br>
    <%= f.label :weight %>
    <%= f.number_field(:weight) %>

    <br>
    <%= f.submit %>
<% end %>


