<!DOCTYPE html>
<html>
  <head>
    <title>MyClimbDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render "layouts/navbar" %>
    <main role="main" class="flex-shrink-0">

      <br> <br> <br>
      <%= render 'layouts/alerts' %>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
